<%- include('layout/header')%>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h3 class="text-light">Edit User (<%=users.name  %>)</h3>

                </div>
                <div class="card-body p-4">
                    <form action="/update/<%= users._id %>" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" value="<%= users.name %>" class="form-control from-control-lg" placeholder="Enter name" required/>

                        </div>

                        <div class="mb-3">
                            <label for="name">Email</label>
                            <input type="text" name="email" value="<%= users.email %>" class="form-control from-control-lg" placeholder="Enter name" required/>

                        </div>

                        <div class="mb-3">
                            <label for="name">phone</label>
                            <input type="tel" name="phone" value="<%= users.phone %>" class="form-control from-control-lg" placeholder="Enter name" required/>

                        </div>

                        <div class="mb-3">
                            <label for="name">Select Image</label>
                            <input type="file" name="image" class="form-control from-control-lg"/>
                            <img src="/<%=users.image %>" alt="" width="100" class="img-thumbnail
                             mt-1">


                        </div>
                        <input type="hidden" name="old_image" value="<%= users.image %>"/>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Update User" class="btn btn-success btn-lg"/>

                        </div>

                    </form>

                </div>

            </div>
            

        </div>

    </div>
</div>

<%- include('layout/footer')%>